body {
    background-color: gray;
}

header {
    padding: 0px;
    width: 100%;
    display: flex;
}

.navbar {
    background-color: black;
    height: 70px;
    width: 100%;
}

.navbar a {
    margin: 25px;
    color: aliceblue;
    text-decoration: none;
    float: right;
}

.navbar a:hover {
    color: yellow;
}

.images {
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.text {
    text-align: center;
    color: aliceblue;
    font-size: x-large;
}

footer {
    background-color: black;
    width: 100%;
    height: 90px;
    color: aliceblue;
    text-align: center;
}

footer .a {
    margin: 25px;
}

p {
    margin-top: -15px;
}